
.center{
    background-color:aliceblue;
}
form{
    width: 70%;
        margin-left: 25%
}
.button_center{
   margin-left:-300px;
}
.changes{
    font-family: 'Inter', sans-serif;
    font-size:20px;
}
.set{
    font-family: 'Tiro Bangla', serif;
    color:rgb(32, 160, 164)
}
@media screen and (max-width: 760px) {
   
        .center {
            background-color: aliceblue;
        }
                form {
                    width: 60%;
                    margin-left:auto;
                    margin-right: auto;
                }
                                .button_center {
                                    margin-left: auto;
                                    margin-right: auto;
                                }

}