.set{
    overflow-x: auto;
    margin-right: auto;
        margin-left: auto;
        background-color: antiquewhite;
}
th,
td,
p,
input {
    font: 17px Inter;
    font-family: 'Inter', sans-serif;
}

table,
th,
td {
    border: solid 1px black;
    border-collapse: collapse;
    padding: 2px 3px;
    text-align: center;
}

th {
    font-weight: bold;
}

@media screen and (max-width: 760px) {

    .set{
        margin-left:10px;
        margin-right:10px;  
    background-color: antiquewhite;  }
}